<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">
  <main>
    <div class="jumbotron">
      <h1>This is great</h1>
      <p>Welcome to templating using EJS</p>
    </div>

    <div>
      <label for="stations">Choose a station:</label>
      <select name="stations" id="index-stations-select">
        <option value="DEFAULT"></option>
      </select>
    </div> 

    <div id='index-station-display'>
      
    </div>

    <div id="map">
      
    </div>
  </main>

  <%- include('../js/main.ejs'); %>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>